{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
     
    <h1>Inscription</h1>

        {# Afficher les éventuelles erreurs du formulaire #}
    
    {{ form_start(form) }}
    
   
    {{ form_end(form) }}
    

     
    

    

    

    

    


    
{% endblock %}

